# General
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
# Dump file
*.stackdump
# Folder config file
[Dd]esktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
# Windows shortcuts
*.lnk
images/orig/detail-dots-1_1.jpeg
images/orig/detail-drawing.jpeg
images/orig/detail-hand.jpeg
images/orig/exclaim-question.jpeg
images/orig/form-dog.jpeg
images/orig/form-plastic.jpeg
images/orig/form-thing.jpeg
images/orig/form-water.jpeg
images/orig/print-raster-full.jpeg
images/orig/print-raster.jpeg
images/orig/rhythm-mirror.jpeg
images/orig/rhythm-roof.jpeg
images/orig/street-cable.jpeg
images/orig/street-dear-grafiti.jpeg
images/orig/street-institute.jpeg
images/orig/street-peacock.jpeg
images/orig/street-who-said-that.jpeg
images/resize/convert.sh
images/resize/detail-dots-1_1.jpeg
images/resize/detail-drawing.jpeg
images/resize/detail-hand.jpeg
images/resize/exclaim-question.jpeg
images/resize/form-dog.jpeg
images/resize/form-plastic.jpeg
images/resize/form-thing.jpeg
images/resize/form-water.jpeg
images/resize/PNG-0
images/resize/print-raster-full.jpeg
images/resize/print-raster.jpeg
images/resize/resize.sh
images/resize/rhythm-mirror.jpeg
images/resize/rhythm-roof.jpeg
images/resize/street-cable.jpeg
images/resize/street-dear-grafiti.jpeg
images/resize/street-institute.jpeg
images/resize/street-peacock.jpeg
images/resize/street-who-said-that.jpeg
