* {
  box-sizing: border-box;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  gap: 1rem;
  max-width: 1024px;
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

figcaption {
  font-size: 0.9rem;
  font-weight: 400;
}

.row,
.column {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.sixteen-nine {
  flex: 16 9 0;
  /* aspect-ratio: 16 / 9; */
}
.squared-nine {
  flex: 9 9 0;
  /* Adjusts to maintain equal height with element1 */
  /* aspect-ratio: 1 / 1; */
}

.nine-sixteen {
  flex: 9 16 0;
  /* aspect-ratio: 9 / 16; */
}
.squared-sixteen {
  flex: 16 16 0; /* Adjusts to maintain equal height with element1 */
  /* aspect-ratio: 1 / 1; */
}

.locations {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.last-item {
  margin-top: auto;
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
footer {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 80vw;
  display: flex;

  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 0.1rem dotted #333;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  main {
    width: 90vw;
  }
  .locations-container {
    flex-direction: column;
  }
  .facts {
    width: 100%;
  }
}
